<%- include('partials/header', {pageTitle: 'Critix - Movie Search' }) %>

    <link rel="stylesheet" href="../css/authForm.css">
    <main class="container">
        <form id="login-form" class="login-form">
            <div class="form-group">
                <label for="password">Nova senha:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password">Repita a senha:</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
            </div>
            <button type="submit" class="btn btn-warning btn-block">Enviar</button>
        </form>
    </main>

    <%- include('partials/footer') %>

        <script src="../js/changePassword.js"></script>