<%- include('partials/header', {pageTitle: 'Critix - Movie Search' }) %>

    <link rel="stylesheet" href="../css/authForm.css">

    <main class="container movie-background">
        <form id="register-form" class="login-form">
            <div class="form-group">
                <label for="user">User:</label>
                <input type="text" class="form-control" id="user" name="user" required
                    placeholder="Digite seu nome de usuário">
            </div>

            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name" required placeholder="Digite seu nome">
            </div>

            <div class="form-group">
                <label for="familyName">Sobrenome:</label>
                <input type="text" class="form-control" id="familyName" name="familyName" required
                    placeholder="Digite seu sobrenome">
            </div>

            <div class="form-group">
                <label for="bio">Bio:</label>
                <input type="text" class="form-control" id="bio" name="bio" required
                    placeholder="Digite uma breve descrição sobre você">
            </div>

            <div class="form-group">
                <label for="country">País:</label>
               <input type="text" class="form-control" id="bio" name="bio" required
                    placeholder="Digite o nome do seu pais">
            </div>

            <div class="form-group">
                <label for="city">Cidade:</label>
               <input type="text" class="form-control" id="bio" name="bio" required
                    placeholder="Digite o nome da sua cidade">
            </div>

            <div class="form-group">
                <label for="birthday">Aniversário:</label>
                <input type="date" class="form-control" id="birthday" name="birthday" required>
            </div>

            <div class="form-group">
                <label for="socialmediax">Twitter:</label>
                <input type="text" class="form-control" id="socialmediax" name="socialmediax" required
                    placeholder="Digite seu usuário do Twitter">
            </div>

            <div class="form-group">
                <label for="socialmediaInstagram">Instagram:</label>
                <input type="text" class="form-control" id="socialmediaInstagram" name="socialmediaInstagram" required
                    placeholder="Digite seu usuário do Instagram">
            </div>

            <div class="form-group">
                <label for="socialmediaTikTok">Tik Tok:</label>
                <input type="text" class="form-control" id="socialmediaTikTok" name="socialmediaTikTok" required
                    placeholder="Digite seu usuário do TikTok">
            </div>

            <div class="form-group">
                <label class="form-label" for="selectedCat">Escolha um gif para ser sua foto de perfil</label>
                <select id="category" class="form-control">
                    <option> Escolha uma categoria</option>
                    <option value="horror">Personagens do Terror</option>
                    <option value="animation">Personagens de Animação</option>
                    <option value="action">Personagens de Ação</option>
                    <option value="animals">Animais</option>
                </select>
            </div>
            
            <div class="cat-options" id="photo-options">
                <input type="hidden" id="selectedCat" name="selectedCat">
            </div><br>


            <button type="submit" class="btn btn-warning btn-block">Criar Perfil</button>
            <a href="/" class="btn btn-warning text-dark btn-link mt-3">Voltar para a página inicial</a>
        </form>
    </main>

    <%- include('partials/footer') %>

        <script src="../js/createProfile.js"></script>