<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/createAndUpdate.css">

  <main>
    <div class="container background-container">

      <form class="review-form bg-warning text-dark" id="create-comment-form">
        <h1 class="text-dark">Comentar!</h1>

        <label for="comment">Comentario:</label>
        <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>

        <button class="submit-button bg-dark text-warning" type="submit">Criar Comentario</button>
        <a href="/" class="back-link">Voltar para a página inicial</a>
      </form>
    </div>
  </main>

<%- include('partials/footer') %>

<script src="../js/createComment.js"></script>
