<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/createAndUpdate.css">

<main>
  <div class="container background-container">
    <form class="review-form bg-warning text-dark" id="review-form">
      <h2 id="movieTitle">Título do Filme</h2>

      <label for="comment">Nota:</label><br>
      <input type="hidden" id="rating" name="rating">
      <div id="stars1">
        <span class="star" data-value="1">☆</span>
        <span class="star" data-value="2">☆</span>
        <span class="star" data-value="3">☆</span>
        <span class="star" data-value="4">☆</span>
        <span class="star" data-value="5">☆</span>
      </div>
      

      <label for="comment">Comentário:</label><br>
      <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>

      <label for="isPublic">Público:</label>
      <input type="checkbox" id="isPublic" name="isPublic" checked><br><br>

      <label for="specialrating" id="specialRatingTitle"></label>
      <input type="hidden" id="specialRating" name="specialRating">
      <div id="stars2">
        <span class="star" data-value="1">☆</span>
        <span class="star" data-value="2">☆</span>
        <span class="star" data-value="3">☆</span>
        <span class="star" data-value="4">☆</span>
        <span class="star" data-value="5">☆</span>
      </div>

      <input class="submit-button bg-dark text-warning" type="submit" value="Enviar">
      
      <a href="/" class="back-link">Voltar para a página inicial</a>
    </form>
  </div>
</main>

<%- include('partials/footer') %>

<script src="../js/createReview.js"></script>