<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Movie Search</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/style2.css">
    </head>

  <body>

    <header class="bg-dark text-warning text-center py-5">
      <h1>CritiX</h1>
    </header>

   
    
    <form class="bg-warning text-dark" id="review-form">
      <table style="width: 100%;">
        <tr>
          <td align="center">
            <h2 id="movieTitle">Título do Filme</h2>
          </td>
        </tr>
      </table>
      <label for="rating">Avaliação (0 a 5):</label>
      <input type="number" id="rating" name="rating" min="0" max="5" required><br><br>
      <label for="comment">Comentário:</label><br>
      <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>
      <label for="isPublic">Público:</label>
      <input type="checkbox" id="isPublic" name="isPublic"><br><br>
      <label for="specialRating">Avaliação Especial:</label>
      <input type="number" id="specialRating" name="specialRating"><br><br>
      <input class="bg-dark text-warning" type="submit" value="Enviar">
      <a href="/">Voltar para a página inicial</a>
    </form>
  
    </main>
    <footer class="bg-dark text-warning">
      <div class="container">
        <p>&copy; 2023 CritiX</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/createReview.js"></script>
  </body>
</html>
