<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Revisão</title>
</head>
<body>
    <h1>Excluir Revisão</h1>
    <form id="delete-review-form">
        <label for="reviewId">ID da Revisão:</label>
        <input type="text" id="reviewId" name="reviewId" required>
        <button type="submit">Excluir</button>
    </form>
    <div id="message"></div>

    <script src="../js/deleteReview.js"></script>
</body>
</html>
