<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/deleteForm.css">

<main>
    <form id="delete-review-form" class="container mt-5">
        <h2 class="text-center">Tem certeza que deseja excluir a review?</h2>
        <button type="submit" class="btn btn-warning btn-block">Sim</button>
        <a href="/getAllUserReviews" class="back-link btn btn-warning btn-block">
            Não
        </a>

        <a href="/" class="back-link">Voltar para a página inicial</a>
    </form>
    <div id="message" class="container mt-3"></div>
</main>

<%- include('partials/footer') %>

<script src="../js/deleteReview.js"></script>