<%- include('partials/header', {pageTitle: 'Critix - Movie Search' }) %>

    <link rel="stylesheet" href="../css/GetForm.css">

    <main class="container">
        <section class="reviews bg-light p-4">

            <h1 id="pageTitle"></h1>
            <select id="genreFilter">
                <option value="">Todos</option>
                <option value="Action">Ação</option>
                <option value="Comedy">Comédia</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasia</option>
                <option value="Thriller">Suspense</option>
                <option value="Romance">Romance</option>
                <option value="Horror">Horror</option>
            </select>
            <br>
            <select id="sortOptions">
                <option value="latest">Mais Recente</option>
                <option value="oldest">Mais Antigo</option>
                <option value="rating_desc">Maior Nota</option>
                <option value="rating_asc">Menor Nota</option>
                <option value="comment_desc">Mais Comentada</option>
                <option value="comment_asc">Menos Comentada</option>
                <option value="title_desc">A - Z</option>
                <option value="title_asc">Z - A</option>
            </select>

            <div id="reviews"></div>
            <a href="/profile" class="back-link d-block mt-4 text-center">
                <i class="fa-solid fa-user" style="color: #000000; font-size: 30px;"></i>
            </a>
            <a href="/" class="back-link d-block mt-4 text-center">
                <i class="fa-solid fa-house" style="color: #000000; font-size: 30px;">
                </i>
            </a>
        </section>
    </main>

    <%- include('partials/footer') %>

        <script src="../js/GetAllReviews.js"></script>