
<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/GetForm.css">
<main class="container">
  <section class="reviews bg-light p-4">
    <form id="usernameForm">
      <div class="form-group">
        <label for="usernameInput" class="h4">Digite o Nome de Usuário:</label>
        <input type="text" class="form-control" id="usernameInput" placeholder="Nome de Usuário">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Obter Avaliações</button>
    </form>
    <div id="reviews">
    </div>

    <h1>-------------------------------------</h1>
    <div id="lists">
    </div>
    <a href="/" class="back-link d-block mt-4 text-center">Voltar para a Página Inicial</a>
  </section>
</main>

<%- include('partials/footer') %>

<script src="../js/getAllReviewsAndListsUser.js"></script>
