<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/getMovie.css">

<main>
  <div class="container">
    <form id="search-form">
      <input type="search" name="search" id="search-input" placeholder="Digite o nome de um jogo...">
      <button class="bg-warning text-dark" type="submit">Pesquisar</button>
    </form>
    <ul id="results"></ul>
  </div>
</main>

<%- include('partials/footer') %>

<script src="../js/GetGame.js"></script>
