
<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/GetForm.css">
<main class="container">
  <section class="reviews bg-light p-4">
    <div id="lists">
    </div>

    <a href="/" class="back-link d-block mt-4 text-center">Voltar para a Página Inicial</a>
  </section>
</main>

<%- include('partials/footer') %>

<script src="../js/getListById.js"></script>
