<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/getMovie.css">

<main>
  <div class="container">
    
    <ul id="results"></ul>
    <a class="text-dark" href="/">Voltar para a página inicial</a>
  </div>
</main>

<%- include('partials/footer') %>

<script src="../js/GetMovieByTitle.js"></script>
