<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/getMovie.css">

<main>
  <div class="container">
    <h1 class="text-center">Movie Search</h1>
    <form id="search-form">
      <input type="search" name="search" id="search-input" placeholder="Search for a movie...">
      <button class="bg-warning text-dark" type="submit">Search</button>
    </form>
    <a class="text-dark" href="/">Voltar para a página inicial</a>
    <ul id="results"></ul>
  </div>
</main>

<%- include('partials/footer') %>

<script src="../js/GetMovie.js"></script>
