<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/getMovie.css">

<main>
  <div class="container">
    <div class="form-group">
      <div class="profile-container">
        <h1 class="movie-li">Clique no botão para ver um filme surpresa</h1>
        <button class="btn btn-warning btn-block" id="surpriseButton">Surpresa!</button>
      </div>
  
      <ul  id="results">
        
      </ul>
  </div>
</main>

<%- include('partials/footer') %>

<script src="../js/GetMovieSurprise.js"></script>
