<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<link rel="stylesheet" href="../css/GetForm.css"> 

<main class="container">
    <section id="section" class="reviews p-4 profile-container">
        <h1 id="pageTitle"></h1><br>
        <div id="reviews">
        </div>
        <br>
    </section>
</main>

<%- include('partials/footer') %>

<script src="../js/getReviewById.js"></script>

