<%- include('partials/header', {pageTitle: 'Critix - Movie Search' }) %>

    <link rel="stylesheet" href="../css/authForm.css">

    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" id="username-display"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/register" id="signup-display"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login" id="login-display"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/" id="logout"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile" id="profile"></a></li>
                    <li class="nav-item"><a class="nav-link require-login" href="/getMovie">Buscar filmes</a></li>
                    <li class="nav-item"><a class="nav-link require-login" href="/getMovieSurprise">Surpreenda-me</a>
                    </li>
                    <li class="nav-item"><a class="nav-link require-login" href="/getProfileByUserProfile">Buscar
                            Usuário</a></li>
                </ul>
            </div>
        </nav>

        <section class="container mt-5">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../images/foto-section-1.jpg" alt="Cinema"
                        class="img-fluid animate__animated img-bordered animate__fadeInLeft">
                </div>
                <div class="col-md-6 text-center section-content">
                    <h2 class="section-title animate__animated animate__fadeInUp">Descubra um Mundo de Cinema</h2>
                    <p class="section-text text-justify text-secondary animate__animated animate__fadeIn">
                        No CritiX, mergulhe em um universo cinematográfico fascinante. Explore nossos recursos e
                        apaixone-se por
                        filmes de uma maneira totalmente nova. Não apenas assista, mas mergulhe nas histórias,
                        compartilhe suas
                        opiniões e descubra filmes que vão deslumbrar seus sentidos.
                    </p>
                    <a href="/register" class="btn btn-primary btn-lg animate__animated animate__fadeInUp">Comece
                        Agora</a>
                </div>
            </div>
        </section><br>

        <section class="container mt-5">
            <div class="row">
                <div class="col-md-6 text-center section-content">
                    <h2 class="section-title animate__animated animate__fadeInUp">Explore Filmes Incríveis</h2>
                    <p class="section-text text-justify text-secondary animate__animated animate__fadeIn">
                        No CritiX, nossa biblioteca de filmes é vasta e diversificada. De clássicos cult a lançamentos
                        contemporâneos, há algo para todos. Deixe-se levar por histórias emocionantes e personagens
                        inesquecíveis.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="../images/foto-section-2.jpg" alt="Filmes"
                        class="img-fluid  animate__animated img-bordered animate__fadeInRight">
                </div>
            </div>
        </section><br>
        
        <section class="container mt-5">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../images/foto-section-3.jpg" alt="Filmes"
                        class="img-fluid  animate__animated img-bordered animate__fadeInLeft">
                </div>
                <div class="col-md-6 text-center section-content">
                    <h2 class="section-title animate__animated animate__fadeInUp">Conecte-se à Comunidade</h2>
                    <p class="section-text text-justify text-secondary animate__animated animate__fadeIn">
                        No CritiX, a experiência vai além de assistir filmes. Comente, discuta e compartilhe suas opiniões
                        sobre as análises de outros cinéfilos. Explore uma plataforma onde suas ideias ganham vida e onde a
                        paixão pelo cinema se transforma em diálogo e interação social.
                    </p>
                </div>
            </div>
        </section><br>
    </main>


    <script src="../js/index.js"></script>
    <%- include('partials/footer') %>