<%- include('partials/header', {pageTitle: 'Critix - Movie Search' }) %>

    <link rel="stylesheet" href="../css/authForm.css">

    <main class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/profile" id="username-display"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/register" id="signup-display"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login" id="login-display"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/" id="logout"></a></li>
                    <li class="nav-item"><a class="nav-link require-login" href="/getMovie">Buscar filmes</a></li>
                    <li class="nav-item"><a class="nav-link require-login" href="/getMovieSurprise">Surpreenda-me</a>
                    </li>
                    <li class="nav-item"><a class="nav-link require-login" href="/getProfileByUserProfile">Buscar
                            Usuário</a></li>
                </ul>
            </div>
        </nav>


        <section class="container mt-5 index-container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../images/foto-section-1.jpg" alt="Cinema"
                        class="img-fluid animate__animated img-bordered animate__fadeInLeft">
                </div>
                <div class="col-md-6 text-center section-content">
                    <h2 class="section-title animate__animated animate__fadeInUp">Descubra um Mundo de Cinema
                    </h2>
                    <p class="section-text text-justify animate__animated animate__fadeIn ">
                        No CritiX, mergulhe em um universo cinematográfico fascinante. Explore nossos recursos e
                        apaixone-se por
                        filmes de uma maneira totalmente nova. Não apenas assista, mas mergulhe nas histórias,
                        compartilhe suas
                        opiniões e descubra filmes que vão deslumbrar seus sentidos.
                    </p>
                    <a href="/register" class="btn btn-primary btn-lg animate__animated animate__fadeInUp">Comece
                        Agora</a>
                </div>
            </div>
        </section><br>

        <section class="container index-container">
            <div class="row">
                <div class="col-md-12 text-center section-content d-flex justify-content-center align-items-center">
                    <h2 class="section-title animate__animated animate__fadeInUp">
                        Filmes em tendência
                    </h2>
                    <ul id="filmes-tendencia"></ul>
                </div>
            </div>
        </section><br>
        


        <section class="container mt-5 index-container">
            <div class="row">
                <div class="col-md-6 text-center section-content">
                    <h2 class="section-title animate__animated animate__fadeInUp">Explore Filmes Incríveis
                    </h2>
                    <p class="section-text text-justify animate__animated text-black animate__fadeIn">
                        No CritiX, nossa biblioteca de filmes é verdadeiramente eclética e abrangente. Dos épicos
                        cinematográficos que moldaram gerações aos tesouros escondidos do cinema independente,
                        oferecemos uma coleção que cativa a mente e emociona o coração. Se você busca a nostalgia dos
                        clássicos cult que resistiram ao teste do tempo ou a emoção dos mais recentes lançamentos
                        contemporâneos que definem tendências, você está no lugar certo.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="../images/foto-section-2.jpg" alt="Filmes"
                        class="img-fluid  animate__animated img-bordered animate__fadeInRight">
                </div>
            </div>
        </section><br>

        <section class="container mt-5 index-container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../images/foto-section-3.jpg" alt="Filmes"
                        class="img-fluid  animate__animated img-bordered animate__fadeInLeft">
                </div>
                <div class="col-md-6 text-center section-content">
                    <h2 class="section-title animate__animated animate__fadeInUp">Conecte-se à Comunidade
                    </h2>
                    <p class="section-text text-justify  animate__animated animate__fadeIn text-black">
                        No CritiX, a experiência transcende a simples atividade de assistir filmes. É um espaço dedicado
                        aos verdadeiros apaixonados pelo cinema, onde você não apenas assiste aos filmes, mas também tem
                        a oportunidade de se envolver em conversas profundas e enriquecedoras sobre eles. Aqui, você
                        pode compartilhar suas opiniões, insights e teorias com outros cinéfilos, criar debates
                        apaixonados sobre temas cinematográficos e explorar análises detalhadas feitas por nossos
                        membros dedicados.
                    </p>
                </div>
            </div>
        </section><br>
    </main>


    <script src="../js/index.js"></script>
    <%- include('partials/footer') %>