
<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/authForm.css">

    <main>
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link text-dark" id="username-display"></a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/register" id="signup-display"></a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/login" id="login-display"></a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/" id="logout"></a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/getMovie">Veja todos os filmes</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/profile" id="profile"></a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/createList">Criar lista</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/getMovieSurprise">Surpreenda-me</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/getAllUserReviews">Buscar usuario</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/api-docs">Documentação</a></li>
          </ul>
        </div>
      </nav>


      <section class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h2>Conheça Nossos Recursos</h2>
            <p>
              O CritiX oferece uma plataforma para você avaliar filmes e compartilhar suas opiniões com outros amantes
              do
              cinema. Explore nossos recursos e comece a criar suas próprias avaliações hoje mesmo.
            </p>
          </div>
        </div>
      </section>

      <section class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Por que escolher o CritiX?</h2>
              <p>
                No CritiX, você pode criar e ler avaliações detalhadas de filmes, encontrar recomendações personalizadas
                com base em suas preferências e muito mais. Nossa comunidade de cinéfilos está pronta para compartilhar
                suas opiniões e descobrir filmes incríveis.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h2>Participe de Discussões</h2>
            <p>
              No CritiX, você pode participar de discussões emocionantes sobre seus filmes favoritos. Interaja com
              outros
              membros da comunidade, compartilhe teorias, análises e insights sobre filmes que você ama.
            </p>
          </div>
        </div>
      </section>

      <section class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Crie Sua Lista de Favoritos</h2>
              <p>
                Mantenha uma lista pessoal de seus filmes favoritos. Marque os filmes que você já assistiu, aqueles que
                deseja assistir e os que deseja revisitar. Organize suas preferências de maneira simples e eficaz.
              </p>
            </div>
          </div>
        </div>
      </section>

    </main>

    <%- include('partials/footer') %>
    
    <script>
      document.getElementById('logout').addEventListener('click', function () {
        localStorage.clear();
        alert(`Logout bem-sucedido.`);
      });

      window.onload = function () {
        const username = localStorage.getItem('username');
        if (username) {
          document.getElementById('username-display').textContent = `Olá, ${username}!`;
          document.getElementById('logout').textContent = `Logout`;
          document.getElementById('profile').textContent = `Meu Perfil`;

          document.getElementById('login-display').style.display = 'none';
          document.getElementById('signup-display').style.display = 'none';
        } else {
          document.getElementById('login-display').textContent = `Entre em sua conta`;
          document.getElementById('signup-display').textContent = `Crie uma conta`;

          document.getElementById('profile').style.display = 'none';
          document.getElementById('create-list-display').style.display = 'none';
        }
      };

    </script>