
<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/authForm.css">

    <main>
      <section class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-center section-content">
              
                <h2 class="section-title">Conheça Nossos Recursos</h2>
                <p class="section-text text-justify text-secondary">
                    O CritiX oferece uma plataforma para você avaliar filmes e compartilhar suas opiniões com outros amantes do cinema. Explore nossos recursos e comece a criar suas próprias avaliações hoje mesmo.
                </p>
               
            </div>
            
        </div>
    </section>
    
    <section class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center section-content">
                    <h2 class="section-title ">Por que escolher o CritiX?</h2>
                    <p class="section-text text-justify">
                        No CritiX, você pode criar e ler avaliações detalhadas de filmes, encontrar recomendações personalizadas com base em suas preferências e muito mais. Nossa comunidade de cinéfilos está pronta para compartilhar suas opiniões e descobrir filmes incríveis.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-center section-content">
                <h2 class="section-title">Participe de Discussões</h2>
                <p class="section-text text-justify text-secondary">
                    No CritiX, você pode participar de discussões emocionantes sobre seus filmes favoritos. Interaja com outros membros da comunidade, compartilhe teorias, análises e insights sobre filmes que você ama.
                </p>
            </div>
        </div>
    </section>
    
    <section class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center section-content">
                    <h2 class="section-title">Crie Sua Lista de Favoritos</h2>
                    <p class="section-text text-justify">
                        Mantenha uma lista pessoal de seus filmes favoritos. Marque os filmes que você já assistiu, aqueles que deseja assistir e os que deseja revisitar. Organize suas preferências de maneira simples e eficaz.
                    </p>
                </div>
            </div>
        </div>
    </section>
    

    </main>

    <%- include('partials/footer') %>
    