<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/profile.css">

<main class="container">
  <section class="reviews p-4 login-form">
      <div id="results">
        
      </div><br>
      <a href="/updateProfile" id="edit-profile-link" class="btn btn-primary text-warning btn-link profile-stat"><span class="stat-count">Editar Perfil</span></a><br><br>
  </section>
</main>

<%- include('partials/footer') %>

<script src="../js/profile.js"></script>
