<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/authForm.css">

<main class="container">
  <section class="reviews bg-light p-4">
      <h1>Meu perfil</h1>
      <div id="results"></div>
      <a href="/" class="back-link d-block mt-4 text-center">Página Inicial</a>
  </section>
</main>

<%- include('partials/footer') %>

<script src="../js/profile.js"></script>