<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/profile.css">

<main class="container">
  <section class="reviews p-4 login-form">
    
    <div id="results"> 
      </div>
  </section>
  
</main>

<%- include('partials/footer') %>

<script src="../js/profile.js"></script>
