<%- include('partials/header', {pageTitle: 'Critix - Movie Search' }) %>

    <link rel="stylesheet" href="../css/authForm.css">

    <main class="container">
        <form id="update-profile-form" class="login-form">

            <div class="form-group">
                <label for="user">User:</label>
                <input type="text" class="form-control" id="user" name="user" required>
            </div>

            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="familyName">Sobrenome:</label>
                <input type="text" class="form-control" id="familyName" name="familyName" required>
            </div>

            <div class="form-group">
                <label for="bio">Bio:</label>
                <input type="text" class="form-control" id="bio" name="bio" required>
            </div>

            <div class="form-group">
                <label for="birthday">Aniversario:</label>
                <input type="date" class="form-control" id="birthday" name="birthday" required>
            </div>

            <div class="form-group">
                <label for="socialmediax">Twitter:</label>
                <input type="text" class="form-control" id="socialmediax" name="socialmediax" required>
            </div>

            <div class="form-group">
                <label for="socialmediaInstagram">Instagram:</label>
                <input type="text" class="form-control" id="socialmediaInstagram" name="socialmediaInstagram" required>
            </div>

            <div class="form-group">
                <label for="socialmediaTikTok">Tik Tok:</label>
                <input type="text" class="form-control" id="socialmediaTikTok" name="socialmediaTikTok" required>
            </div>

            <div class="form-group">
                <label class="form-label" for="selectedCat">Escolha um Gatinho para ser sua Foto de Perfil</label>
                <div class="cat-options">
                    <div class="cat-option">
                        <label for="cat1">
                            <img class="cat-image" id="cat1" src="https://media.tenor.com/U282vYfv7xAAAAAd/gato-barril.gif" alt="Gatinho 1">
                        </label>
                    </div>
                    <div class="cat-option">
                        <label for="cat2">
                            <img class="cat-image" id="cat2" src="https://media.tenor.com/mjCtsRA_AMgAAAAC/angry-cat-meme-cat.gif" alt="Gatinho 2">
                        </label>
                    </div>
                    <div class="cat-option">
                        <label for="cat3">
                            <img class="cat-image" id="cat3" src="https://media.tenor.com/XkhNfJx3jfsAAAAC/gato_maluco-gato_insano.gif" alt="Gatinho 2">
                        </label>
                    </div>
                    <div class="cat-option">
                        <label for="cat4">
                            <img class="cat-image" id="cat4" src="https://media.tenor.com/u7n-mlPhhFAAAAAd/monkey-apple.gif" alt="Gatinho 2">
                        </label>
                    </div>
                </div>
                <input type="hidden" id="selectedCat" name="selectedCat">
            </div>

            <button type="submit" class="btn btn-warning btn-block">Atualizar Perfil</button>
            <a href="/" class="btn btn-warning text-dark btn-link mt-3">Voltar para a página inicial</a>
        </form>
    </main>

    <%- include('partials/footer') %>

        <script src="../js/updateProfile.js"></script>