<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/createAndUpdate.css">

<main>
    <div class="container background-container">
        <form class="review-form bg-warning text-dark" id="update-review-form">

            <label for="rating">Avaliação (0 a 5):</label>
            <input type="number" id="rating" name="rating" min="0" max="5"><br><br>

            <label for="review">Review:</label><br>
            <textarea id="review" name="review" rows="2" cols="10"></textarea><br><br>

            <label for="ispublic">Público:</label>
            <input type="checkbox" id="ispublic" name="ispublic"><br><br>

            <label for="specialRating" id="specialRatingTitle"></label>
            <input type="number" id="specialRating" name="specialRating"><br><br>

            <input class="submit-button bg-dark text-warning" type="submit" value="Enviar">

            <a href="/" class="back-link">Voltar para a página inicial</a>
        </form>
    </div>
</main>

<%- include('partials/footer') %>

<script src="../js/updateReview.js"></script>
