<%- include('partials/header', {pageTitle: 'Critix - Movie Search'}) %>

<link rel="stylesheet" href="../css/createAndUpdate.css">

<main>
    <div class="container background-container">
        <form class="review-form bg-warning text-dark" id="update-list-form">

            <label for="name">Nome da Lista:</label>
            <input type="text" id="name" name="name"><br><br>

            <label for="description">Descrição:</label>
            <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

            <label for="movieTitles">Títulos dos Filmes (separados por vírgula):</label>
            <input type="text" id="movieTitles" name="movieTitles"><br><br>

            <label for="isPublic">Público:</label>
            <input type="checkbox" id="isPublic" name="isPublic"><br><br>

            <input class="submit-button bg-dark text-warning" type="submit" value="Enviar">

            <a href="/" class="back-link">Voltar para a página inicial</a>
        </form>
    </div>
</main>

<%- include('partials/footer') %>

<script src="../js/updateList.js"></script>
