@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-weight: 600;
  margin: 0;
  background-image: url('../images/movietheater.webp');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}


main {
  flex: 1;
}


h1, h2 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 500;
}


.navbar {
  background: linear-gradient(to right, #ff9900, #ffd900);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  z-index: 1000;
  border-radius: 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s, transform .3s;
  margin-right: 20px;
}

.nav-link:hover {
  color: #ff6600;
  transform: scale(1.1);
}

.navbar-toggler-icon {
  background-color: #333;
}

@media (max-width: 768px) {
  .navbar-nav {
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      background-color: rgba(255,255,255,0.1);
      border-radius: 10px;
      margin-top: 10px;
      box-shadow: 0px 4px 8px rgba(0,0,0,.2);
      transition: all .3s ease-in-out;
      transform-origin: top left;
      transform: scale(1);
      opacity:1;
      visibility: visible;
      height:auto;
      pointer-events:auto;
      
  }

.navbar-toggler {
    margin-bottom: 10px;
    background-color:#333;
    border:none;
    color:#fff;
    cursor:pointer
}
}

a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
  font-size: 15px;
}

a:hover {
  color: #ffbb00;
}

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.login-form h2 {
  text-align: center;
  color: #000000;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 2px solid #383838;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #ffc107;
  box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5);
}

.password-requirements {
  font-size: 12px;
  color: #000000;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
  transition: all 0.3s ease;
}

.btn-warning:hover {
  background-color: #ff9800;
}

.btn-link {
  color: #ffc107;
}

label {
  font-weight: bold;
}

.btn-primary {
  background-color: #000000;
  border-color: #ffc107;
  color: #ffffff;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #000000;
  border-color: #e0a800;
  color: #ffc107;
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffbb00;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container:hover {
  transform: scale(1.1);
}


.profile-image-container {
  margin-right: 20px;
}

.profile-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #000000;
  transition: transform 0.2s ease-in-out;
  list-style-type: none;
}

.profile-image:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.profile-details {
  flex: 1;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.profile-bio {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.profile-stats {
  display: flex;
  gap: 20px;
}

.profile-stat {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.stat-count {
  margin-left: 5px;
  font-weight: bold;
}

.section-content {
  margin-bottom: 20px;
}


.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000000;
}

.section-text {
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
}

.row{
  justify-content: center;
}

.form-label {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  display: block;
}

.cat-options {
  display: flex;
  justify-content:left;
}

.cat-option {
  margin: 0 20px;
  transition: transform 0.3s;
}

.cat-option:hover {
  transform: scale(1.1);
}

.cat-radio {
  display: none;
}

.cat-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 100px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.img-bordered {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.img-bordered:hover {
  transform: scale(1.05);
  border-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 30px rgba(255, 174, 0, 0.7);
}

.index-container {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  background-color: #EAAA00;
  border: 2px solid #000000;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.movie-poster {
  width: 200px;
  height: 300px;
  cursor: pointer;
  background-color: #000000;
  border: .2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  transition: transform 0.2s ease-in-out;
  list-style-type: none;
}

.movie-poster:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.movie-container {
  width: 200px;
  margin: 10px;
  text-align: center;
}


#filmes-tendencia {
  display: flex;
  justify-content: center;
  align-items: center;
}


.films-container {
  display: flex;
  justify-content: center;
}

.halloween-pumpking{
  width: 65;
  height: 70;
}



