@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #646161;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-weight: 600;
  margin: 0;
  background-image: url('../images/movietheater.webp');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

span { 
  font-weight: 300;
}


.span-text{
  font-weight: 300;
  font-size: 20px;
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;

}

.span-text-border{
  border: .2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  transition: transform 0.2s ease-in-out;
  list-style-type: none;
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
}



p { 
  font-weight: 600;
}

main {
  flex: 1;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

main {
  padding: 20px 0;
}

.reviews {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


#usernameForm {
  margin-bottom: 20px;
}

#reviews {
  margin-top: 20px;
}

.btn {
  font-weight: bold;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #333;
}

.btn-warning:hover {
  background-color: #ffca2b;
  border-color: #ffca2b;
  color: #333;
}


.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.table td, .table th {
  padding: 15px;
  border-top: 1px solid #ccc;
  text-align: left;
  word-wrap: break-word;
  max-width: 10px;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 18px;
}

.table td.title-cell {
  font-weight: bold;
  font-size: 16px;
}

.table td.rating-cell {
  font-size: 16px;
}

.table td.edit-cell {
  text-align: center;
}

.table a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.table tr:hover {
  background-color: #949494;
}



.movie-poster {
  width: 200px;
  height: 300px;
  cursor: pointer;
  background-color: #000000;
  border: .2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  transition: transform 0.2s ease-in-out;
  list-style-type: none;
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
}

#poster-centralize{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-poster:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}


.movie-title {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}


#lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title{
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.uppercase-text {
  text-transform: uppercase;
}

hr {
  border: none;
  height: 2px;
  background-color: #000000;
  margin: 20px 0;
}

.profile-container {
  background-color: #ffbb00;
  border: 2px solid #000000;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #000000;
  border-color: #ffd900;
  color: #000000;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #000000;
  border-color: #e0a800;
}

.genre-filter {
  margin-bottom: 20px;
}

#genreFilter, #sortOptions {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #000000, #cfa600);
  color: #ffffff; 
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

#genreFilter:hover, #sortOptions:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #ffcc00, #cfa600);
  color: #000000; 
}

#genreFilter option, #sortOptions option {
  font-size: 18px;
  background-color: #FFD700;
  color: #333333;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#genreFilter option:hover, #sortOptions option:hover {
  background-color: #FFA500;
  color: #000000;
  transform: scale(1.05);
}

#genreFilter::-ms-expand, #sortOptions::-ms-expand {
  display: none;
}

#genreFilter::before, #sortOptions::before {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #555555;
}


#genreFilter option {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.sortOptions {
  margin-bottom: 20px;
}

#sortOptions {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #cfa600, #000000);
  color: #ffffff; 
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

#sortOptions:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #cfa600, #ffcc00);
  color: #000000; 
}

#sortOptions option {
  font-size: 18px;
  background-color: #FFD700;
  color: #333333;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#sortOptions option:hover {
  background-color: #FFA500;
  color: #000000;
  transform: scale(1.05);
}

#sortOptions::-ms-expand {
  display: none;
}

#sortOptions::before {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #555555;
}


#sortOptions option {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.star-rating {
  color: #FFD700;
  border: solid;
  border-radius: 20px;
  width: 109px;
  padding: 5px;
}
