@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #646161;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-weight: 600;
  margin: 0;
  background-image: url('../images/movietheater.webp');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  flex: 1;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

p {
  font-weight: 700;
  font-size: 25px;
}

.navbar {
  background-color: #ff8800;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff6600;
}

.navbar-toggler-icon {
  background-color: #333;
}

@media (max-width: 768px) {
  .navbar-nav {
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
  }

  .navbar-toggler {
      margin-bottom: 10px;
  }
}

a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

a:hover {
  color: #000000;
}

.login-form {
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="search"] {
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

button[type="submit"] {
  background-color: #2196F3;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 20px;
  margin-left: -50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0d8edf;
}

form {
  display: flex;
  margin-top: 30px;
  position: relative;
}

.btn-primary {
  background-color: #0F0F0F;
  border-color: #ffd900;
  color: #000000;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #EAAA00;
  border: 2px solid #000000;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-image-container {
  margin-right: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #000000;
}

.profile-details {
  flex: 1;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.profile-bio {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.profile-stats {
  display: flex;
  gap: 20px;
}

.profile-stat {
  font-size: 18px;
  color: #000000;
  transition: all 0.3s ease;
}

.profile-stat:hover {
  color: #4d0240;
}

.profile-stat .stat-count {
  margin-left: 5px;
  font-weight: bold;
}


.stat-count {
  margin-left: 5px;
  font-weight: bold;
}

.ul-profile{
  text-align: center;
  padding-right: 5%;
}

.li-profile {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.878);
  border: 2px solid #000000;
  padding: 10px;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
  list-style-type: none;
  text-align: center;
}

.li-profile:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 15px rgba(255, 0, 0, 0.2);
  background-color: rgba(155, 155, 155, 0.878);
}

.movie-poster {
  width: 200px;
  height: 300px;
  cursor: pointer;
  background-color: #000000;
  border: .2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  transition: transform 0.2s ease-in-out;
  list-style-type: none;
}

.movie-poster:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.movie-title {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: black;
  text-decoration: none;
}

#filmes-favoritos {
  display: left;
  flex-wrap: wrap;
  justify-content: space-around;
}

.films-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie-container {
  width: 200px;
  margin: 10px;
  text-align: center;
}

#filmes-favoritos {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  height: 5px;
  background: linear-gradient(to right, #000000, #202020, #474747);
  border: none;
  margin: 20px 0;
  margin-left: 41px;
  border-radius: 20px;
  animation: gradient-animation 2s ease infinite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hr-bottom {
  height: 5px;
  background: linear-gradient(to right, #000000, #202020, #474747);
  border: none;
  margin: 20px 0;
  border-radius: 20px;
  animation: gradient-animation 2s ease infinite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


@keyframes gradient-animation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}



