@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

/* Estilos gerais */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

/* Cabeçalho */
header {
  color: #e4d50c;
  text-align: center;
  padding: 20px 0;
}

/* Título */
h1 {
  font-size: 36px;
  margin: 10px 0;
}

/* Formulário */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botão */
button {
  background-color: #ffe600;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #007bff;
  color: #ffffff;
}

/* Texto do centro */
.text-center {
  text-align: center;
}

