@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinhar à esquerda */
  flex-direction: row-reverse; /* Inverter a direção */
}

.star {
  cursor: pointer;
  font-size: 50px;
  color: rgb(122, 122, 122);
  margin-right: 10px; /* Ajuste a margem direita conforme necessário */
}

.star:hover:before,
.star:hover ~ .star:before {
  content: "\2605";
  color: rgb(0, 0, 0);
}

.star:before {
  content: "\2606";
}

.star.active:before,
.star.active ~ .star:before {
  content: "\2605";
  color: gold;
  transform: scaleX(-1);
}





/* Reset CSS padrão */
html, body, div, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Estilos gerais */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: #222020;
  color: #e4d50c;
  text-align: center;
  padding: 20px 0;
}

main {
  flex: 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px 0;
}

h1 {
  text-align: center;
  color: #e4d50c;
  font-size: 36px;
  padding: 20px 0;
}

/* Estilos para o formulário */
.review-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}


.review-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-left: 5px;
}

.submit-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Estilos para o link de volta */
.back-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
}

.back-link:hover {
  text-decoration: underline;
}
