<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="../../css/headerAndFooter.css">
  
</head>

<body>

  <header class="text-warning text-center py-5">
    <a href="/">
      <img src="../images/logo.png" alt="Logo do CritiX" width="100" height="100">
    </a>
    <h1>Bem-vindo ao CritiX!</h1>
    <p class="lead">Uma plataforma para avaliar filmes.</p>
  </header>
